@require 'variables'

.dialog
  background-color: #fff
  border: 1px solid #666
  border-radius: 20px
  padding: 10px
  width: 200px
  position: relative
  z-index: $zIndexDialog
  &.is-waiting
    background-image: url(../img/click.gif)
    background-size: 10px 16px
    background-position: right 12px bottom 6px
    background-repeat: no-repeat