
@font-face
    font-family: 'myriad'
    src: url(../fonts/MyriadPro-Regular.otf) format('opentype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'chromoxome'
    src: url(../fonts/Chromoxome-Regular.otf) format('opentype')
    font-weight: normal
    font-style: normal