@require 'variables'

$menuHeight = 529px
$menuWidth = 344px

.menu-wrapper
  position: absolute
  left: 282px
  top: 159px
  z-index: $zIndexMenu
  width: ($menuWidth*2)
  height $menuHeight
  box-shadow: 9px 0 10px -3px #222

#menu
  .page
    background: url(../img/page.png) top left \/ $menuWidth $menuHeight
  .front-cover
    background: url(../img/front-cover.png) top left \/ $menuWidth $menuHeight
  .front-cover-inside
    background: url(../img/front-cover-inside.png) top left \/ $menuWidth $menuHeight
  .title-page
    background: url(../img/title-page.png) top left \/ $menuWidth $menuHeight
  .back-cover
    background: url(../img/back-cover.png) top left \/ $menuWidth $menuHeight
  .back-cover
    background: url(../img/back-cover-inside.png) top left \/ $menuWidth $menuHeight
  .page-wrapper
    perspective: 5000px
  div[page="1"] > div
  div[page="2"] > div
	  overflow:visible !important
  .dish-help
    cursor: pointer
  .side
    width: 5px
    height: $menuHeight
    position: absolute
    top:0
    left: ($menuWidth - @width)
    background: #3B342C
    transform: rotateY(-90deg)
    transform-origin: top right
    z-index: 100000

  .no-title
    h3
      color: transparent
  h3
    font: 16px/1 'chromoxome'
    color: #C63501
    text-align: center
    margin-top: 40px
  .dishes-content
    position: absolute
    top: 50%
    margin-top: 30px
    transform: translateY(-50%)
    left: 37px
    right: 37px
  .dish-item
    border-bottom: 1px solid #60564D
    height: 39px
    line-height: 12px
    position: relative
    cursor: pointer
  .dish-price
  .dish-title
    position: absolute
    bottom: 2px
  .dish-title
    color: #6F380E
    vertical-align: bottom
    width: 212px
  .dish-pungency
    margin-left: 6px
    display: inline-block
    i
      width: 10px
      height: 12px
      display: inline-block
      background: url(../img/spiciness.png) left top \/ 10px 11.5px no-repeat
      margin-right: 1px
      vertical-align: bottom
  .dish-price
    color: #CB4501
    right: 0
  .page-num
    position: absolute
    bottom: 10px
    left: 0
    right: 0
    text-align: center
    color: #4E4438
    font: 12px/1 'chromoxome'
    transform: scale(0.8)
