@require 'variables'

.menu-wrapper
  position: absolute
  left: 300px
  bottom: 50px
  z-index: $zIndexMenu
  width: 640px
  height 480px

#menu
  .page
    background: white
  .dish-help
    cursor: pointer
